body {
	-webkit-user-select: none;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 7px;
}
 
/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #E5C4C4; 
    margin-right: 5px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */

}
::-webkit-scrollbar-thumb:hover {
	background: #8A6969;
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}